.banner {
  height: 219px;
  width: 680px;
  position: relative;
}

.polygon {
    position: absolute;
    clip-path: polygon(0 0, 344px 0, 245px 219px, 0 219px);
    height: 100%;
    width: 380px;
    z-index: 2;
    background: linear-gradient(
        84.24deg,
        #00aeed 6.37%,
        #00cf36 54.68%,
        #d5f903 98.2%
      );
}

.promo {
    width: 255px;
    height: 100%;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

.bay{
    height: 64px;
}

.badge{
    /* clip-path: polygon(0 0, 130px 0, 0 219px); */
    width: 108px;
    height: 26px;
    margin-top: 23px;
    /* margin-left: 8px; */
    background-color: white;
    transform: rotate(-4deg);
    border-top-left-radius: 23px 13px;
    border-bottom-left-radius: 23px 13px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;


}

.sberLogo{
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url('../../public/assets/sberLogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: 5.55px;
    left: 13px;
}

.bage_caption{
    color: #01ae2f;
    font-family: 'Rubik';
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    top: 3px;
    left: 32px;

}

.nose{
    position: absolute;
    left: 0px;
    width: 12px;
    height: 26px;
    clip-path: polygon(
        11px 0,
        10px 0.5px,
        10px 1px,
        10px 1.5px,
        8px 2px,
        7px 3px,
        6px 4px,
        5px 5px,
        4.5px 6px,
        4px 7px,
        3.5px 8px,
        3px 9px,
        2.5px 10px,
        2.5px 11px,
        2.5px 12px,
        2.5px 13px,/*/////*/
        2.5px 14px,
        2.5px 15px,
        3px 16px,
        3.5px 17px,
        4px 18px,
        4px 19px,
        5px 20px,
        6px 21px,
        7px 22px,
        8px 23px,
        9px 24px,
        10px 25px,
        11px 26px
        /* 2px 13px, 
        2px 12px, 
        3px 10px,
        5px 5px, 
        9px 1px,
        12px 0px,
        12px 26px,
        9px 25px,
        5px 20px,
        3px 16px,
        2px 14px,
        2px 15px */
    );
    background: white;
    z-index: 2;
}

.dot {
    height: 3px;
    width: 3px;
    position: absolute;
    top: 12px;
    left: 7px;
    background-color: #01ae2f;
    z-index: 3;
}

.subBage{
    margin-top: 1px;
    font-size: 7px;
    text-align: left;
    padding-left: 30px;
    color: white;
}

.credit{
    height: 62px;
    color: white;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 21.35px;
    line-height: 25.15px;
    text-align: left;
}

.more {
    height: 43px;
}

.button_more {
    height: 30px;
    width: 132px;
    background: #036efe;
    border-radius: 45px;
    margin-left: -3px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 9.16px;
    line-height: 31px;
    color: white;
}

.smallText{
    flex-grow: 1;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 6px;
    line-height: 7px;
    text-align: left;
    color: white;
    margin-left: -3px;
    width: 245px;
}

.polygon_1 {
    position: absolute;
    left: 244px;
    clip-path: polygon(98px 0, 130px 0, 0 219px);
    height: 100%;
    width: 129px;
    z-index: 2;
    background: linear-gradient(
        197.59deg,
        #b4ea17 2.31%,
        #f8ec00 20.6%,
        #96e867 47.53%,
        #28c9d5 78.02%,
        #08a9dd 91.23%
      );
}

.banner_imgWrapper {
  height: 100%;
  width: 435px;
  background-repeat: no-repeat;
  background-image: url('../../public/assets/fons_for_slider/banner.png');
  position: absolute;
  right: 0;
}
