.item {
  display: inline-block;
  width: 100vw;
  height: calc(100vw / 3.4);
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
}

.itemContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.textSection {
  height: 100%;
  width: calc(100vw / 2.22);
}

.blanckBlock {
  height: calc(100vw / 19.8);
}

.titleContainer {
  width: 63.5%;
  height: calc(100vw / 22.6);
  margin-left: calc(100vw / 21.36);
  position: relative;
  /* background: transparent; */
  color: white;
  font-style: normal;
  /* background: #2c5692; */
  font-size: calc(100vw / 26.7);
  transform: skewX(-10deg);
}

/* .titleContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c5692;
  z-index: -1;
  transform: skewX(-10deg);
} */

.subtitleContainer {
  margin-top: 5px;
  width: calc(100vw / 2.9);
  height: calc(100vw / 20);
  margin-left: calc(100vw / 14.7);
  font-size: calc(100vw / 39.8);
  color: #444444;
  text-align: left;
  line-height: 48px;
}

.imgSection {
  height: 100%;
  width: calc(100vw / 1.83);
}

.imgTemplate {
  position: relative;
}

.imgTemplate::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: calc(100vw / 112);
  border-left: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-top: calc(100vw / 3.64) solid white;
  border-right: calc(100vw / 17) solid transparent;
  z-index: 2;
}

.imgWrapper {
  top: calc(100vw / 106.8);
  left: 1px;
  height: calc(100vw / 3.696);
  width: calc(100vw / 1.83);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.imgWrapper::before {
  content: '';
  position: absolute;
  top: calc(100vw / -106.8);
  left: calc(100vw / 35.59);
  height: calc(100vw / 3.41);
  width: calc(100vw / 160.2);
  background-color: #ff4343;
  z-index: 3;
  transform: skewX(-12deg);
}
